:root{
    --color-pri: #f6eedf;
    --color-text:#fff;
    --color-dark:#000;
    --color-sec:#f64b3c;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.row{
    display: table;
    clear: both;
    width: 100%;
}

div[class^=col-]{
    padding: 15px;
    float: left;
}

.offset-2{
    margin-left: calc((100%*2)/12);
}

.col-4{
    width: calc((100%*4)/12);
}

.col-5{
    width: calc((100%*5)/12);
}

.col-6{
    width: 50%
}

.col-7{
    width: calc((100%*7)/12);
}

.col-12{
    width: 100%;
}

.mt-4{
    margin-top: 32px;
}

ul,ol{
    list-style: none;
}

a:is(:link,:active){
    text-decoration: none;
    color: var(--color-text);
}

.text-center{
    text-align: center;
}